/*
Colors used:
orange: #ff7e1d
teal: #00e2cc
pink: #ff2549
light gray: #7c7c7c
Dark gray: #434444
*/

/* GENERAL */
body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px; /* sets the font size to 16px */
  line-height: 1.6; /* sets the line-height to 1.6 */
}
.no-bullet {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.site-content {
  flex: 1;
}
.w600 {
  max-width: 600px;
  margin: 0 auto;
}
.w600 p {
  margin: 20px 0;
}
footer {
  border-top: 3px solid #434444;
  padding: 14px 0;
  margin-top: 20px;
  margin-bottom: 10px;
}
.svg {
  display: block;
  width: 25px;
  margin-right: 10px;
}
.svg:hover {
    opacity: 0.8; /* reduses the opacity of the button to 80% */
}
.p {
  font-size: 16px;
  line-height: 19px;
}
/* TYPOGRAPHY */
h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  text-align: center; /* Centers text */
  color: #00e2cc;
  padding: 64px 0;
}
h2 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-align:center;
  color: #ff2549;
}
h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
}
a {
  text-decoration: none;
  color: #ff2549;
}

a:hover,
a:focus {
  text-decoration: none;
}
.a:hover {
  text-decoration: none;
  color: #ff7e1d;
}

ul.icons {
  list-style: none;
  text-align: center;
}
ul.icons li {
  display: inline-block;
}

/* BUTTONS */
button {
  /* overwrite browser defaults */
  border: none; /* resets the border */
  font-family: inherit; /* takes the font from the outer container */
  /* style button */
  background-color: #ff2549;
  font-size: 16px;
  color: white;
  padding: 10px;
  margin-top: 20px;
  border-radius: 3px;
  border-bottom: 2px solid #7c7c7c; /* width of the border, type of border, color */
  transition: 0.4s opacity, 0.5s background-color;
}

button:hover,
button:focus {
  cursor: pointer; /* lets the mouse appear as hand when hovering over the button*/
  opacity: 0.8; /* reduses the opacity of the button to 80% */
  background-color: rgba(255, 37, 73, 0.8);
  text-decoration: none;
}

.button:hover {
  background-color: #ff7e1d;
}

/* HEADER & NAV */
header {
  background: #434444;
  height: 70px;
}
.logo {
  display: inline-block;
  width: 150px;
}
nav {
  float: right;
}
nav ul {
  overflow: hidden;
  height: 70px;
}
nav li {
  float: left;
}
nav li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 22.5px 16px;
  text-decoration: none;
}
nav li a:hover {
  transition: 0.6s opacity, 0.6s background-color;
  background-color: #ff2549;
}

@keyframes color-change2 {
    0% {fill: #fff;}
    50% {fill:#FF2549;}
    100% {fill: #FF2549;}
}
@keyframes color-change3 {
    0% {fill: #fff;}
    50% {fill:#FF7E1D;}
    100% {fill: #FF7E1D;}
}

.st2 {
  animation-duration: 3s;
  animation-name: color-change2;
  animation-direction: alternate;
  animation-timing-function: linear;
}
.st0 {
  animation-duration: 6s;
  animation-name: color-change3;
  animation-direction: alternate;
  animation-timing-function: linear;
}

/* Images */
img {
  width: 100%;
}

/* Layout styling */
.wrapper {
  max-width: 1000px;
  margin: 0 auto; /* No spacing to top and bottom and auto space to left and right */
}
.columns-container {
  font-size: 0;
}
.column-4 {
  font-size: 16px;
  width: 24%;
  display: inline-block;
  margin-right: 1%;
  text-align: center; /* Centers text */
}
.column-4:last-child {
  margin-right: 0
}

/* MEDIA */

@media all and (max-width: 1199px) {
  .column-4:nth-child(even) {
    margin-right: 0;
  }
  .columns-container {
    font-size: 0;
    margin: 0 auto;
  }
  .column-4 {
    /* Modify 4-column to 2-columns */
    width: 43%;
    margin-right: 1%;
    margin-bottom: 5%;
    text-align: center; /* Centers text */
  }
  h1 {
    font-size: 25px;
    line-height: 30px;
    max-width: 600px;
    margin: 0 auto;
  }
  h2 {
    font-size: 16px;
  }
}

@media all and (max-width: 767px) {
  .wrapper {
    padding: 0px 10px;
  }
  .columns-container {
    font-size: 0;
  }
  .column-4 {
    /* Modify 2-column to 1-columns */
    width: 94%;
    margin-right: 1%;
    margin-bottom: 5%;
    text-align: center; /* Centers text */
  }
  h1 {
    max-width: 500px;
    margin: 0 auto;
  }
  .logo {
    display: inline-block;
    width: 120px;
  }
  header {
    background: #434444;
    height: 50px;
  }
  nav ul {
    overflow: hidden;
    height: 50px;
  }
  nav li a {
    font-size: 13px;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
  }
}

@media all and (max-width: 600px) {
  .wrapper {
    padding: 0 10px
  }
  .columns-container {
    font-size: 0;
    margin: 0 auto;
  }
  .column-4 {
    /* Modify 2-column to 1-columns */
    width: 100%;
    margin: 0;
  }
  .logo {
    display: inline-block;
    width: 88px;
  }
  header {
    background: #434444;
    height: 36px;
  }
  nav ul {
    overflow: hidden;
    height: 36px;
  }
  nav li a {
    font-size: 10px;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
  }
  .w600 {
    max-width: 350px;
    margin: 0 auto;
  }
  .w600 p {
    margin: 15px 0;
  }
}
